{% extends "__layout.twig" %}
{% import "forms.twig" as forms %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for company in oil_comps %}
                <div class="col-3 cartochka position-relative">
                    <div class="card h-100 w-100">
                        <img src="{{ company.image }}" class="card-img-top card-img-square" alt="Изображение">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ company.title }}</h5>
                            <p class="card-text"> {{ company.description }}</p>
                        </div>
                        <div class="card-footer bg-transparent">
                            <a href="{{ url_group }}{{ company.id }}" class="btn btn-primary d-block mb-3 main-link">Основная ссылка</a>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <a href="{{ url_group }}{{ company.id }}?show=image" class="btn btn-primary me-md-2">картинка</a>
                                <a href="{{ url_group }}{{ company.id }}?show=info" class="btn btn-outline-secondary">описание</a>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute" style="right: 4px; top: 4px">
                        <form action="/oil-company/delete" method="POST">
                            <button class="btn btn-danger" type="submit" name="id" value="{{ company.id }}">
                                <i class="fas fa-times"></i>
                            </button>
                        </form>
                    </div>
                    <div class="position-absolute" style="left: 4px; top: 4px">
                        <form action="/oil-company/update/{{company.id}}" method="GET">
                            <button class="btn btn-primary" type="submit"">
                                <i >edit</i>
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}